/* Add styles to match the step-2 design */

.content-mid {
  padding: 80px;
}

.content-mid-header {
    background: #444;
    width: auto;
    height: 20%
}

.content-container {
  width: auto;
  height: 100%;
}

.content {
  width: auto;
  height: 80%;
  background: #D8D8D8;
  padding: 20px;
  text-align: center;
}

