/* Step-2.1 add styles to match the step-2 design */

.logo-container {
    background: #4F4949;
}
/* Step-2.1 add styles to match the step-2 design */

.menu-container {
    background: #4F4949;
}
/* Step-2.1 add styles to match the step-2 design */

.profile-image-container {
    background: #96F0F2;
}

/* Step-2.1 add styles to match the step-2 design */

.profile-links-container {
    background: #12F3F7;
}