/* Add styles to match the step-1 design */

.main-bottom-section {
    margin-top: 65px;
    text-align: center;
}

.item {
    display: inline-block;
    height: 200px;
    width: 40%;
    background: #DED6D3;
    margin-bottom: 30px;
}

.full-width-item {
    width: 80%;
    height: 200px;
    margin:0 auto 30px;
    background: #DED6D3;
}

.large-item {
    width: 80%;
    height: 500px;
    margin:0 auto 30px;
    background: #DED6D3;
}


