/* Add styles to match the step-1 design */

.main-top-section {
    width: 100%;
    height: 375px;
    background: #F7F1E7;
    position: relative;
}


.top-header {
    width: 100%;
    height: 70px;
    text-align: center;
    background: #D8D8D8;
}

.menu {
    width: 100px;
    height: 40px;
    background: #536A63;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
}

.logo {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    background: #536A63;
    display: inline-block;
}


.sign-in {
    width: 100px;
    height: 40px;
    background: #536A63;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.bottom-container {
    width: 60%;
    height: 60px;
    left: 22%;
    background: #536A63;
    position: absolute;
    bottom: -30px;
}
