/*  Step-1.1 add a background image that takes up the entire width of the container */

.main-top-section {
    width: 100%;
    height: 530px;
    position: relative;


}


.top-header {
    width: 100%;
    padding-top: 10px;
    height: 70px;
    text-align: center;

}


.menu {
    width: 100px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 20px;

}

.menu-icon {
    width: 60%;

}

.logo {
    width: 300px;
    height: 40px;
    display: inline-block;
    margin-top: 10px;

}

.logo-icon {
    width: 75%;
}

.sign-in {
    width: 100px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 30px;

}

.sign-in-icon {
    width: 60%;
}


.bottom-container {
    width: 100%;
    height: 60px;
    position: absolute;
    text-align: center;
    bottom: -30px;

}


.shop-icon {
    width: 350px;
}

