/*  Step-1.1 */

.main-top-section {
    width: 100%;
    height: 375px;
    background: #F7F1E7;
    position: relative;
    /*You will need to add a position property to get this to look like he design */

}


.top-header {
    width: 100%;
    height: 70px;
    text-align: center;
    background: #D8D8D8;
}

/*  Step-1.2 You need to get all of these elements to line up side by side. What display property would do this for you? */
/*  Step-1.2 You will also need t add a position property to the logo and sign in containers */

.menu {
    width: 100px;
    height: 40px;
    background: #536A63;
}

.logo {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    background: #536A63;


}

.sign-in {
    width: 100px;
    height: 40px;
    background: #536A63;

}

/*  Step-1.3 Make this container overhang off it's parent container.  */

.bottom-container {
    width: 60%;
    height: 60px;
    left: 22%;
    background: #536A63;


}