.main-top-section {
    width: 100%;
    height: 375px;
    background: #F7F1E7;
    position: relative;
}

.top-header {
    width: 100%;
    height: 70px;
    text-align: center;
    background: #D8D8D8;
}

/*  Step-1 You need to get all of these elements to line up side by side. What display property would do this for you? */

.menu {
    width: 100px;
    height: 40px;
    background: #536A63;
}

.logo {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    background: #536A63;
}

.sign-in {
    width: 100px;
    height: 40px;
    background: #536A63;
}

/*  Step-1 Make this container overhang off its parent container using display and bottom properties.  */

.bottom-container {
    width: 60%;
    height: 60px;
    left: 22%;
    background: #536A63;
}