/*  Step-1.1 You don't need to put a position on this element because it is already at the top of the screen */

.header {
    width: 100%;
    height: 100px;
    background: #D8D8D8;

}

/* Step-1.2 I would suggest using float to get this container in it's desired location*/

.content-left {
    width: 33.3%;
    /*this height is a placeholder. You will need to make some adjustment to get this container to look like the design */
    height: 100px;
    background: #565555;
}


/* Step-1.3 I would suggest using float to get this container in it's desired location. */

.content-mid {
    width: 66.3%;
    /*this height is a placeholder. You will need to make some adjustment to get this container to look like the design */
    height: 100px;
    background: #B0B0B0;

}

/* Step-1.4 your going to want to add a positioning property to get this container to the bottom of the screen  */

.footer {
    width: 100%;
    height: 100px;
    background: #3A3A3A;

}