/* Step-3.1  Not much to do here except add a height */
.content-mid-header {
    background: #444;
    height: 100px;
}


/* Step-3.3 add a margin top to give this container some space. Also you're going to want to set the  margin-left and margin-right to auto. This will give equal distance left and right to the container--essentially--centering the container   */
.content-container {
 background: #D8D8D8;
 width: 80%;
 margin: 40px auto;
}


/* Step-3.2  Remember to add some padding and text-align*/

.content {
  padding: 50px;
  text-align: center;
  height: 275px;
}
