
/* Step-2.1 add a property that will align items center  */
.main-bottom-section {
    margin-top: 65px;
   /* alignment property */

}

/* Step-2.2 Add a width, height and display property to make these containers look like the design */
.item {
   /*width*/
    /*height*/
    /*display*/
    background: #DED6D3;
    margin-bottom: 30px;
}

/* Step-2.3 Add a width, height and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container*/

.full-width-item {
    /*width*/
    /*height*/
    /*margin*/
    margin:0 auto 30px;
    background: #DED6D3;
}

/* Step-2.4 Add a width, height and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container*/


.large-item {
    /*width*/
    /*height*/
    /*margin*/
    background: #DED6D3;
}


